@tailwind base;
@tailwind components;
@tailwind utilities;

.typed-cursor {
  font-size: 64px; /* Cursor boyutunu büyütmek için font-size */
}

.scroller {
  width: 80%; /* Sayfa genişliğinin %80'i olacak */
  margin: 0 auto; /* Ortalamak için */
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.scroller__inner {
  display: flex;
  gap: 70px; /* Kutular arası boşluk */
  width: max-content;
  padding-block: 1rem;
  animation: scroll var(--_animation-duration, 22s) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

/* İlk scroller için değişiklik yapmıyoruz, sabit hız ve animasyon */
@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 2.25rem));
  }
}

/* .row1 için kaydırma animasyonu */
.row1 .scroller__inner {
  animation: scroll var(--_animation-duration, 22s) linear infinite;
  animation-delay: -5s; /* 5 saniyelik gecikme */
}

/* .row2 için kaydırma animasyonu */
.row2 .scroller__inner {
  animation: scroll var(--_animation-duration, 22s) linear infinite;
  animation-delay: -10s; /* 10 saniyelik gecikme */
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px; /* Sabit genişlik */
  height: 40px; /* Sabit yükseklik */
  background: white; /* Beyaz kutular */
  border-radius: 9999px; /* Tam yuvarlak köşeler */
  color: black; /* Siyah metin */
  font-weight: bold;
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.1);
}
