@tailwind base;
@tailwind components;
@tailwind utilities;

.typed-cursor {
  font-size: 64px; /* Cursor boyutunu büyütmek için font-size */
}

/* CAROUSEL */

.scroller {
  width: 80%; /* Sayfa genişliğinin %80'i olacak */
  margin: 0 auto; /* Ortalamak için */
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.scroller__inner {
  display: flex;
  gap: 70px; /* Kutular arası boşluk */
  width: max-content;
  padding-block: 1rem;

  animation: scroll var(--_animation-duration, 40s) linear infinite;
  animation-play-state: running;

  &:hover {
    animation-play-state: paused;
  }
}
.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 35px));
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  background: white;
  border-radius: 9999px;
  color: black;
  font-weight: bold;
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.1);
}

/* COMPONENTS */

@layer components {
  .custombtn {
    @apply text-button-Text  bg-button-Primary   hover:bg-button-Hover hover:border-b-button-HoverSecondary
    border-b-4 rounded-md border-b-button-Secondary  font-semibold;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(
      -15px
    ); /* Adjust this value for more or less movement */
  }
}

.animate-bounce {
  animation: bounce 5s infinite; /* Adjust duration as needed */
}
.nft-container {
  overflow: hidden; /* Prevents overflow */
  position: relative;
  border: none; /* Ensure there's no border */
}

.nft-image {
  transition: transform 0.3s ease;
  border: none; /* Remove border */
}

.nft-image:hover {
  transform: scale(1.2);
}

.breathing {
  width: 12px;
  height: 12px;
  background-color: #00ff00; /* Bright green for "live" */
  border-radius: 50%;
  animation: breathing 1.5s ease-in-out infinite;
}

@keyframes breathing {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Change this to make it bigger */
  }
}
